doctype html
html
head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title=title
body
    h1 Bird Results

    ul
        each item in birdList
            li= item.id +" - " + item.commonName