extends layout

block content
  h1= title
  h3 Welcome to #{title}
  p a site to demonstrate testing APIs with Cypress.io, Mocha, Chai, and Postman
  img(src='images/birdWatcher.jpg')
  
  div
  table
    tbody
        tr
          th ROUTES->
          th LEPIDOPTERA
          th BIRDS
          th SIGHTINGS
        tr 
          td Endpoint
          td GET
          td GET
          td GET
        tr 
          td Endpoint    
          td GET /commonName 
          td GET /commonName
          td GET /id
        tr 
          td Endpoint
          td GET /latinName
          td GET /latinName
          td GET /date
        tr 
          td Endpoint
          td GET /id
          td GET /id
          
          

  <a href="https://www.vecteezy.com/free-vector/coffee-cup">Coffee Cup Vectors by Vecteezy</a>
